body{
	background-color: #bedede;
}

div.all{
	width: 180px;
	height: 490px;
}

div.main{
	width:180px;
	height: 177px;
	background-color: #fff;
}

div.main h1{
	font-family: sans-serif;
	color: #383838;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0px;
	margin-left: 32px;
	padding-top: 30px;
	margin-bottom: 0;
}

div.main p{
	font-family: sans-serif;
	font-size: 14px;
	color: #808080;
	font-weight: normal;
	margin-left: 32px;
}