body{
	background-color: #1a1a1a;
}

div.main{
	width: 300px;
	height: 440px;
	background-color: #fff;
}

div.main h1{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 90px 0px 30px;
	margin-bottom: 0px;
}

div.main p{
	font-weight: normal;
	font-family: sans-serif;
	font-size: 12px;
	padding-left: 30px;
	padding-top: 0;
	margin-bottom: 0px;
}

button.follow{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 30px 10px 23px;
	border-radius: 3px;
	background-color: #1a1a1a;	
	box-shadow: none;
	border: none;
	margin: 64px 150px 25px 30px;
}
